body {
    margin: 0;
    padding: 0;
}

a{
    color: #385d9e;
}
a:hover{
    text-decoration: none;
}

.weekSpecifierNumber{
    color: white;
}
.fa-stack{
    width: 0.95em;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    float: left;
    z-index: 2;
    background-color: white;
}

#logo {
    width: 300px;
    height: auto;
}
#logo-and-title{
    float: left;
    padding: 0 30px 0 0px;
}

.buttons{
    margin: 15px 20px 0 0;
    float: right;
    width: 30%;
    margin: 4px;
}


#select{
    float: left;
    margin: 7px 5px 0 0;
    width: 543px;
}

.checkalllabel{
    width: 87px;
}
.sortinglabel{
    width: 76px;
}


.ampersand{
    font-weight: bold;
    font-size: medium;
}


#header-table {
    margin: 0;
}


.btn-primary{
    float: left;
    margin: 1px 1px;
}

.btn-sm{
    padding: 0px 5px;
}

#showPinnedCoursesButton{
    width: 49%;
}

#restoreAllCoursesButton{
    width: 49%;
}

#restoreAndRemoveAllPins{
    width: 98.5%;
}




.collapse > #logo {
    width: 250px;
    -webkit-transition: width 1s
}

.table {
    table-layout: fixed;
}

#header, h2 {
    display: inline;
}

.table > thead > tr > th{
    text-align: center;
}


.container {
    width: 100%;
    top: 170px;
    position: relative;
    padding: 0;
}

.coursename {
    font-weight: normal;
}

.pointer {
    cursor: pointer;
}

.map {
    position: relative;
    width: 100%;
    height: 350px;
}

.nav-tabs > li {
    width: 50%;
    text-align: center;
}

.modal-well {
    width: 70px;
    height: 70px;
    background-color: #E6E4E0;
    line-height: 0.6;
    text-align: center;
}

.big-icon {
    font-size: 55px;
}

.course-details {
    margin: 2px 5px 5px 5px;
    padding: 8px 0px;
    display: inline-block;
}

.course-details-wrapper {
    width: 100%;
    padding: 0 25px;
}

.homepage-icon {
    font-size: 34px;
}

.homepage-text {
    font-size: 11px;
}

#result [class*="hidden-"] {
    display: none;
}

.course_title_bar {
    font-size: 17px;
    background: gainsboro;
}

.course_acr{
    color: #39306f;
}

.course_name {
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}

.course_location {
    font-size: small;
}

#subject-sorting{
    overflow: hidden;
}

.checkallwrapper{
    float:left;
    margin-top: 0;
}
.checkbox-primary{
    overflow: hidden;
    float: left;
    width: 420px
}
.checkbox{
    margin-top: 5px !important;
}

#checkallsubjectslabel{
    float: left;
}



.title_bar_icon{
    color: darkgray;
    height: 20px;
    width: 20px;
    z-index: 999;
}

.title_bar_icon:hover{
    color: dimgrey;
}

.pin{
    float: left;
}

.pinned{
    background: #AAD5F9;
}
.pinned .course_title_bar{
    background: white;
}

.pinned .course_title_bar .pin{
    visibility: visible;
    color: firebrick;
}



.x{
    float: right;
}

.dayOfTheWeek{
    text-align: center;
    font-size: 17px;
    text-transform: uppercase;
}


.course-box {
    text-align: center;
    line-height: 1.2;
    padding: 9px;
    margin: 9px 0;
}

.course-box > p {
    margin: 5px 0;
}

#door {
    height: 18px;
}

.header-div{
    float: left;
}



@media screen and (max-width: 1305px) {
    canvas{
        position: inherit !important;
    }
    .mapboxgl-canvas-container{
        position: inherit !important;
    }

    table {
        width: 100%;
    }

    thead {
        display: none;
    }

    tr:nth-of-type(2n) {
        background-color: inherit;
    }

    tr td:first-child {
        background: #f0f0f0;
        font-weight: bold;
        font-size: 1.3em;
    }

    tbody td {
        display: block;
        text-align: center;
    }

    tbody td:before {
        content: attr(data-th);
        display: block;
        text-align: center;
    }

    .course-box {
        width: 200px;
        height: 140px;
        float: left;
        margin: 4px;
    }

    td{
        width: 100%;
        float: left;
    }

    #logo-and-title{
        width: 285px;
    }
    #logo-and-title > img {
        width: 270px;
    }

    #select{
        width: 530px;
        float: right;
    }

    .buttons{
        width: 100%;
    }
    #showPinnedCoursesButton{
        width: 33%;
    }

    #restoreAllCoursesButton{
        width: 33%;
    }

    #restoreAndRemoveAllPins{
        width: 33%;
    }

    .sortinglabel{
        width:18%;
    }
    #checkallsubjectslabel, #checkallyearslabel{
        width: 88px;
    }

}


@media screen and (max-width: 800px) {

    #logo-and-title{
        width: 100%;
    }
    #select{
        width:100%;
    }
    .buttons{
        width:100%
    }

    #showPinnedCoursesButton{
        width: 100%;
    }
    #restoreAllCoursesButton{
        width: 100%;
    }
    #restoreAndRemoveAllPins{
        width: 100%;
    }

}



@media screen and (max-width: 600px) {
    .course-box {
        width: 100%;
        height: auto;
        float: none;
        margin: 10px 0;
    }
    .course_acr{
        font-size: 23px;
    }

    .course_name {
        font-size: 14px;
    }
    .course_location {
        font-size: 15px;
    }
    .table{
        margin-top: 170px;
    }
    #select{
        margin: 0 -8px;
    }
}