body { margin:0; padding:0; }

#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
    float: left;
    z-index: 2;
    background-color: white;
}
#logo{
    width: 350px;
    height: auto;
}
#header-table{
    margin:0;
}

.collapse {

}


.collapse>#logo{
    width: 250px;
    -webkit-transition: width 1s
}

.table{
    table-layout: fixed;
}

#header, h2{
    display: inline;
}

.container{
    width: 100%;
    top: 170px;
    position: relative;
    padding: 0;
}


.courseacr{
    color:darkslateblue;
}

.coursename{
    font-weight:normal;
}

.pointer{
    cursor: pointer;
}

.map { position:relative;
    width:550px;
    height:300px;
    }

.course_acr{
    font-size: 15px;
    color: darkslateblue;
}

.nav-tabs > li {
    width: 50%;
    text-align: center;
}