<!DOCTYPE html>
<html lang="en">
<head>
    <title>Beautiful Timetables</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.css' rel='stylesheet'/>


    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.sticky-kit.min.js') }}"></script>
    <script src ="{{ url_for('static', filename='jquery.cookie.js') }}"></script>


    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v3.0.3/mapbox-gl-directions.js'></script>

    <link rel='stylesheet'
          href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v3.0.3/mapbox-gl-directions.css'
          type='text/css'/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script>


        mapboxgl.accessToken = 'pk.eyJ1IjoiZ2FieWFudG92YSIsImEiOiJjaXlhNXRsOW8wMDIyMzNxcDdxdTk3dGcwIn0.gNNtUvGPe9zNblVthu__Yg';

        $(document).ready(function () {
            $(".dayOfTheWeek").stick_in_parent({
                offset_top: 155
            });
        });

        $(window).on("scroll touchmove", function () {
            $('#header').toggleClass('collapse', $(document).scrollTop() > 0);
        });


        // Entry every filtering class below.
        var $chkbxFilter_tags = ['AI', 'CG', 'CS', 'SE', 'unclassified'];

        // Entry the block element that will be filtered below.
        var $chkbxFilter_blocks = ['.course-box'];

    </script>


</head>
<body>


<!--

COURSE_DICT:

{
u'STN': {
             'course': u'Social and Technological Networks',
             'credits': u'10',
             'course_url': 'http://course.inf.ed.ac.uk/stn',
             'year': u'4'
        }
}

CONTENT_DICT:

{
u'Fri': [
            [
                {
                    'course_acr': u'DS',
                    'course_details': u' Teviot LT, MEDS',
                    'course_year': u'4'
                },
                {
                    'course_acr': u'CT',
                    'course_details': u' Meadows LT, MEDS',
                    'course_year': u'3'
                }
             ],

             [
                {
                    'course_acr': u'MLPR',
                    'course_details': u' LHB, DHT',
                    'course_year': u'4'
                }
             ],

             [
             ]
         ]
}




//-->

<div role="tabpanel">


    <div id="header">
        <div class="row">
            <div id="logo-and-title" class="col-md-6">
                <img id="logo"
                 src="https://upload.wikimedia.org/wikipedia/en/c/ca/University_of_Edinburgh_School_of_Informatics_logo.jpg">
{#                <h2>Lecture Timetable 2016-2017</h2>#}
            </div>
            <div id="select" class="tags col-md-6">
                <div id="subject-sorting" class="">
                    <label for="AI">
                        <input type="checkbox" name="subject" value="AI" id="AI" class="sort"/>
                        AI
                    </label>
                    <label for="CG">
                        <input type="checkbox" name="subject" value="CG" id="CG" class="sort"/>
                        CG
                    </label>
                    <label for="CS">
                        <input type="checkbox" name="subject" value="CS" id="CS" class="sort"/>
                        CS
                    </label>
                    <label for="SE">
                        <input type="checkbox" name="subject" value="SE" id="SE" class="sort"/>
                        SE
                    </label>
                    <label for="unclassified">
                        <input type="checkbox" name="subject" value="unclassified" id="unclassified" class="sort"/>
                        Unclassified
                    </label>
                </div>
                <div id="year-sorting" class="">
                    <label>
                        <input type="checkbox" name="year" value="year1" id="year1" class="sort"/>
                        Year 1
                    </label>
                    <label>
                        <input type="checkbox" name="year" value="year2" id="year2" class="sort"/>
                        Year 2
                    </label>
                    <label>
                        <input type="checkbox" name="year" value="year3" id="year3" class="sort"/>
                        Year 3
                    </label>
                    <label>
                        <input type="checkbox" name="year" value="year4" id="year4" class="sort"/>
                        Year 4
                </label>
                </div>

                <button id="showPinnedCoursesButton" type="button" class="btn btn-primary btn-lg">
                    Show pinned courses
                </button>
                <button id="restoreAllCoursesButton" type="button" class="btn btn-primary btn-lg">
                    Restore all courses
                </button>
                <button id="restoreAndRemoveAllPins" type="button" class="btn btn-primary btn-lg">
                    Restore all courses and remove pins
                </button>

                <script>

                    $("#showPinnedCoursesButton").click(function() {
                        if (pinnedCourses.length == 0){
                            alert("No courses are currently pinned.\n To pin a course, hover over it and click the pin icon next to its name.");
                        }
                        else{
                            $.each($('.course-box'), function (i, boxItem) {
                                // Check if pinnedCourses does not contain this course
                                if (pinnedCourses.indexOf($(this).attr("acr")) == -1) {
                                    if ($(this).attr("semester") == currentSemester){
                                        $(this).hide();
                                    }
                                };

                            });
                        }


                    });

                    $("#restoreAllCoursesButton").click(function() {
                        $.each($('.course-box'), function (i, boxItem) {
                            $(this).show();
                        });
                    });



                    $("#restoreAndRemoveAllPins").click(function() {
                        pinnedCourses = [];
                        $.each($('.course-box'), function (i, boxItem) {
                            $(this).removeClass("pinned");
                            $(this).show();
                        });
                        alert(pinnedCourses);
                    });
                </script>

            </div>
        </div>
        <div id="whatfilters"></div>
        <ul class="nav nav-tabs">
            <li id="semester1-li" class="active">
                <a href="#semester1-table" semester="1" class="semester-tab" id="semester1-tab" data-toggle="tab">Semester 1</a>
            </li>
            <li id="semester2-li">
                <a href="#semester2-table" semester="2" class="semester-tab" id="semester2-tab" data-toggle="tab">Semester 2</a>
            </li>
        </ul>

        <table id="header-table" class="table table-hover">
            <thead>
            <tr>
                <th></th>
                {% for time in TIMES_LIST %}
                    <th class="hour-header">{{ time }}</th>
                {% endfor %}
            </tr>
            </thead>
        </table>
    </div>

<script>

</script>

    <div class="container">

        <div class="tab-content" id="result">
            <div role="tabpanel" class="tab-pane fade in active" id="basics">
            </div>
            {% for semesterNumber in range(1,3) %}
                <div class="semester tab-pane" id="semester{{ semesterNumber }}-table">
                    <table class="table">
                        <tbody>

                        {% for day in WEEKDAYS %}
                            <tr>

                                <td><p class="dayOfTheWeek">{{ day }}</p></td>

                                {% set timeCounter = 0 %}
                                {% for hourSlot in CONTENT_DICT[semesterNumber-1][day[0:3]] %}
                                    {% set timeLoopIndex = loop.index-1 %}
                                    <div>
                                        <td>
                                            {% for courseDict in hourSlot %}



                                                <style>

                                                    .{{ courseDict['course_acr'] + '-' + day + TIMES_LIST[timeLoopIndex][0:4] + "-semester" + semesterNumber|string }}-title_bar_icon{
                                                        visibility: hidden;
                                                    }

                                                    #{{ courseDict['course_acr'] + '-' + day + TIMES_LIST[timeLoopIndex][0:4] + "-semester" + semesterNumber|string}}-well:hover .{{ courseDict['course_acr'] + '-' + day + TIMES_LIST[timeLoopIndex][0:4]  + "-semester" + semesterNumber|string}}-title_bar_icon {
                                                        visibility: visible;
                                                    }
                                                </style>

                                                {#{% if courseDict['course_acr'] in COURSE_DICT %}{{ COURSE_DICT[courseDict['course_acr']]['year'] }}{% if COURSE_DICT[courseDict['course_acr']]['types'] is defined %}{% for type in COURSE_DICT[courseDict['course_acr']]['types'] %}{{ type }}{% else %}{{ 'unclassified' }}{% endfor %}{% endif %}{% endif %}#}

{#                                                <div data-category="year{% if courseDict['course_acr'] in COURSE_DICT %}{{ COURSE_DICT[courseDict['course_acr']]['year'] }} {% for type in COURSE_DICT[courseDict['course_acr']]['types'] %}  {% if type not in COURSE_DICT[courseDict['course_acr']]['types'] %}#}
                                                <div data-category="year{% if courseDict['course_acr'] in COURSE_DICT %}{{ COURSE_DICT[courseDict['course_acr']]['year'] }} {% if COURSE_DICT[courseDict['course_acr']]['types'] is defined %} {% for type in COURSE_DICT[courseDict['course_acr']]['types'] %} {{ type }} {% else %} {{ 'unclassified' }} {% endfor %}{% endif %}{% endif %} "
                                                     class="well well-sm pointer course-box subject {{ courseDict['course_acr'] }}"
                                                     id="{{ courseDict['course_acr'] + '-' + day + TIMES_LIST[timeLoopIndex][0:4]  + "-semester" + semesterNumber|string}}-well"
                                                     acr="{{ courseDict['course_acr'] }}"
                                                     semester="{{ semesterNumber }}"
                                                     data-toggle="modal"
                                                     data-target="#{{ courseDict['course_acr'] + '-' + day + TIMES_LIST[timeLoopIndex][0:4] + "-semester" + semesterNumber|string}}-modal">
                                                    <div class="course_title_bar">
                                                        <i id="{{ courseDict['course_acr'] + '-' + day + TIMES_LIST[timeLoopIndex][0:4] + "-semester" + semesterNumber|string}}-pin" class="fa fa-thumb-tack title_bar_icon pin {{ courseDict['course_acr'] + '-' + day + TIMES_LIST[timeLoopIndex][0:4] + "-semester" + semesterNumber|string}}-title_bar_icon" aria-hidden="true"></i>
                                                        <span class="course_acr"><b>{{ courseDict["course_acr"] }}</b></span>
                                                        <i id="{{ courseDict['course_acr'] + '-' + day + TIMES_LIST[timeLoopIndex][0:4] + "-semester" + semesterNumber|string}}-x" class="fa fa-times title_bar_icon x {{ courseDict['course_acr'] + '-' + day + TIMES_LIST[timeLoopIndex][0:4] + "-semester" + semesterNumber|string}}-title_bar_icon" aria-hidden="true"></i>
                                                    </div>
                                                    {% if courseDict["course_acr"] in COURSE_DICT %}
                                                        <p class="course_name">{{ (COURSE_DICT[courseDict["course_acr"]])['course'] }}</p>
                                                        <p class="course_location">{{ matchVenue(courseDict["course_details"]) }}</p>
                                                    {% endif %}
                                                </div>



                                                <!-- MODAL -->

                                                <div class="modal fade"
                                                     id="{{ courseDict['course_acr'] + '-' + day + TIMES_LIST[timeLoopIndex][0:4] + '-semester' + semesterNumber|string}}-modal"
                                                     tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

                                                    <script>


                                                        var {{ courseDict['course_acr'] + day + TIMES_LIST[timeLoopIndex][0:4] + 'semester' + semesterNumber|string}}Coordinates = {{ matchNameInJsonToLongLat(UOE_VENUE_DATA, mostSimilar(UOE_VENUE_DATA, matchVenue(courseDict['course_details']))) }};

                                                        $("#{{  courseDict['course_acr'] + '-' + day + TIMES_LIST[timeLoopIndex][0:4] + '-semester' + semesterNumber|string}}-modal").on('shown.bs.modal', function () {

                                                            var {{  courseDict['course_acr'] + day + TIMES_LIST[timeLoopIndex][0:4] + 'semester' + semesterNumber|string}}Map = new mapboxgl.Map({
                                                                container: "{{  courseDict['course_acr'] + '-' + day + TIMES_LIST[timeLoopIndex][0:4] + '-semester' + semesterNumber|string}}-map",
                                                                style: 'mapbox://styles/mapbox/streets-v9',
                                                                zoom: 16,
                                                                center: {{ courseDict['course_acr'] + day + TIMES_LIST[timeLoopIndex][0:4] + 'semester' + semesterNumber|string}}Coordinates
                                                            });


                                                            var {{courseDict['course_acr'] + day + TIMES_LIST[timeLoopIndex][0:4] + 'semester' + semesterNumber|string}}Directions = new MapboxDirections({
                                                                accessToken: mapboxgl.accessToken,
                                                                profile: 'mapbox.walking',
                                                                unit: 'metric'
                                                            });

                                                            {{ courseDict['course_acr'] + day + TIMES_LIST[timeLoopIndex][0:4] + 'semester' + semesterNumber|string}}Map.addControl({{ courseDict['course_acr'] + day + TIMES_LIST[timeLoopIndex][0:4] + 'semester' + semesterNumber|string}}Directions, 'top-left');
                                                            {{ courseDict['course_acr'] + day + TIMES_LIST[timeLoopIndex][0:4] + 'semester' + semesterNumber|string}}Directions.setDestination({{ courseDict['course_acr'] + day + TIMES_LIST[timeLoopIndex][0:4] + 'semester' + semesterNumber|string}}Coordinates);


                                                            // MARKERS
                                                            {{ courseDict['course_acr'] + day + TIMES_LIST[timeLoopIndex][0:4] + 'semester' + semesterNumber|string}}Map.on('load', function () {

                                                                {{  courseDict['course_acr'] + day + TIMES_LIST[timeLoopIndex][0:4] + 'semester' + semesterNumber|string}}Map.addSource("markers", {
                                                                    "type": "geojson",
                                                                    "data": {
                                                                        "type": "FeatureCollection",
                                                                        "features": [{
                                                                            "type": "Feature",
                                                                            "geometry": {
                                                                                "type": "Point",
                                                                                "coordinates": {{ matchNameInJsonToLongLat(UOE_VENUE_DATA, mostSimilar(UOE_VENUE_DATA, matchVenue(courseDict["course_details"]))) }}
                                                                            },
                                                                            "properties": {
                                                                                "title": "Mapbox DC",
                                                                                "marker-symbol": "default_marker"
                                                                            }
                                                                        }]
                                                                    }
                                                                });

                                                                {{  courseDict['course_acr'] + day + TIMES_LIST[timeLoopIndex][0:4] + 'semester' + semesterNumber|string}}Map.addLayer({
                                                                    "id": "markers",
                                                                    "source": "markers",
                                                                    "type": "circle",
                                                                    "paint": {
                                                                        "circle-radius": 10,
                                                                        "circle-color": "#007cbf"
                                                                    }
                                                                });
                                                            })
                                                            ;


                                                        });


                                                    </script>

                                                    <div class="modal-dialog modal-lg" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close"><span
                                                                        aria-hidden="true">&times;</span>
                                                                </button>
                                                                <h4 class="modal-title" id="myModalLabel">
                                                                    {% if courseDict["course_acr"] in COURSE_DICT %}
                                                                        <h2>{{ (COURSE_DICT[courseDict["course_acr"]])['course'] }}</h2>


                                                                    {% endif %}</h4>
                                                            </div>


                                                            <div class="modal-body">
                                                                {% if courseDict["course_acr"] in COURSE_DICT %}
                                                                    <div class="course-details-wrapper">
                                                                        <div class="col-sm-6 row course-details-container">
                                                                        <div class="row">
                                                                            <a target="_blank"
                                                                               href="{% if courseDict['course_acr'] in COURSE_DICT %}
                                                                                                            {{ (COURSE_DICT[courseDict['course_acr']])['course_url'] }}
                                                                                                            {% endif %}
                                                                                                            ">
                                                                                <div class="course-details well well-sm modal-well">
                                                                                    <p class="big-icon homepage-icon"><span
                                                                                            class="glyphicon glyphicon-home"></span>
                                                                                    </p>
                                                                                    <p class="homepage-text">
                                                                                        HOMEPAGE</p>
                                                                                </div>
                                                                            </a>
                                                                            <div class="course-details well well-sm modal-well">
                                                                                <p class="big-icon">{{ COURSE_DICT[courseDict["course_acr"]]['year'] }}</p>
                                                                                <p>YEAR</p>
                                                                            </div>
                                                                            <div class="course-details well well-sm modal-well">
                                                                                <p class="big-icon">{{ COURSE_DICT[courseDict["course_acr"]]['credits'] }}</p>
                                                                                <p>CREDITS</p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <a target="_blank"
                                                                               href="{% if courseDict['course_acr'] in COURSE_DICT %}
                                                                                                            {{ (COURSE_DICT[courseDict['course_acr']])['drps'] }}
                                                                                                            {% endif %}
                                                                                                            ">
                                                                                <div class="course-details well well-sm modal-well">
                                                                                    <p class="big-icon homepage-icon"><span
                                                                                            class="glyphicon glyphicon-home"></span>
                                                                                    </p>
                                                                                    <p class="homepage-text">DRPS</p>
                                                                                </div>
                                                                            </a>
                                                                            <div class="course-details well well-sm modal-well">
                                                                                <p class="big-icon">{{ COURSE_DICT[courseDict["course_acr"]]['semester'] }}</p>
                                                                                <p class="homepage-text">SEMESTER</p>
                                                                            </div>
                                                                            <div class="course-details well well-sm modal-well">
                                                                                <p class="big-icon">{{ COURSE_DICT[courseDict["course_acr"]]['level'] }}</p>
                                                                                <p class="homepage-text">LEVEL</p>
                                                                            </div>
                                                                        </div>
                                                                        </div>
                                                                        <div class="col-sm-4">
                                                                            <p><span
                                                                                    class="glyphicon glyphicon-time"></span> {{ day }}, {{ TIMES_LIST[timeLoopIndex] }}
                                                                            </p>
                                                                            <p>
                                                                                <img id="door" src="{{ url_for('static', filename='img/door.svg') }}">
                                                                                 {{ matchRoom(courseDict["course_room"]) }}
                                                                            </p>
                                                                            <p><i class="fa fa-bank"></i> {{ mostSimilar(UOE_VENUE_DATA,
                                                            matchVenue(courseDict["course_details"])) }}</p>
                                                                            <p><span
                                                                                    class="glyphicon glyphicon-map-marker"></span> {{ matchNameInJsonToDict(UOE_VENUE_DATA,
                                                            mostSimilar(UOE_VENUE_DATA,
                                                            matchVenue(courseDict["course_details"])))['address1'] }},
                                                                                {{ matchNameInJsonToDict(UOE_VENUE_DATA,
                                                            mostSimilar(UOE_VENUE_DATA,
                                                            matchVenue(courseDict["course_details"])))['postcode'] }}
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div id="{{ courseDict['course_acr'] + '-' + day + TIMES_LIST[timeLoopIndex][0:4] + '-semester' + semesterNumber|string}}-map"
                                                                         class='map'></div>
                                                                {% endif %}
                                                                <!--<a target="_blank" href="
                                                                    {% if courseAcr in COURSE_DICT %}-->
                                                                    <!--{{(COURSE_DICT[courseAcr])['course_url']}}-->
                                                                    <!--{% endif %}-->
                                                                <!--"><span class="glyphicon glyphicon-home"></span>-->
                                                                <!--</a>-->

                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default"
                                                                        data-dismiss="modal">
                                                                    Close
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                            {% endfor %}
                                        </td>
                                    </div>
                                {% endfor %}
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            {% endfor %}

        </div>

    </div>


</div>


</div>


<script>

$(".x").click(function(){

    // Retrieve the acronym of clicked course
    var clickedXAcr = $(this).closest(".course-box").attr("acr");

    // If pinnedCourses contains the acronym of clicked box
    if (pinnedCourses.indexOf(clickedXAcr) > -1) {
        // Remove clicked course from pinnedCourses array
        pinnedCourses.splice(pinnedCourses.indexOf(clickedXAcr), 1);
    }

    // Remove pinned class and hide each coursebox with same acronym
    $("div[acr=" + clickedXAcr + "]").each(function() {
            $(this).removeClass("pinned");
            $(this).hide();
    });

    alert(pinnedCourses);
});


$(".pin").click(function(){

    // Retrieve the acronym of clicked course
    var clickedPinAcr = $(this).closest(".course-box").attr("acr");

    // Check if pinnedCourses contains this course
    // If it does, remove it from the list
    if (pinnedCourses.indexOf(clickedPinAcr) > -1) {
        pinnedCourses.splice(pinnedCourses.indexOf(clickedPinAcr), 1);
    }
    // Otherwise, add it to the list
    else {
        pinnedCourses.push(clickedPinAcr);
    }

    // Add the 'pinned' class to each coursebox with same acronym
    $("div[acr=" + clickedPinAcr + "]").each(function() {
        $(this).toggleClass("pinned");
    });

    alert(pinnedCourses);
    //$.cookie("pinnedCoursesCookie", pinnedCourses);
    //console.debug($.cookie("pinnedCoursesCookie"));
    //alert($.cookie("pinnedCoursesCookie"));
});



var currentSemester = "1";
$(".semester-tab").click(function(){
    currentSemester = $(this).attr("semester");
});


// Prevent from modal opening when a pin or an X is clicked
$('.title_bar_icon').on('click', function(e) {
   e.stopPropagation();
});


(function () {
	var headertext = [];
	var headers = document.querySelectorAll("thead");
	var tablebody = document.querySelectorAll("tbody");

	for(var i = 0; i < headers.length; i++) {
		headertext[i]=[];
		for (var j = 0, headrow; headrow = headers[i].rows[0].cells[j]; j++) {
		  var current = headrow;
		  headertext[i].push(current.textContent.replace(/\r?\n|\r/,""));
		  }
	}

	if (headers.length > 0) {
		for (var h = 0, tbody; tbody = tablebody[h]; h++) {
			for (var i = 0, row; row = tbody.rows[i]; i++) {
			  for (var j = 0, col; col = row.cells[j]; j++) {
			    col.setAttribute("data-th", headertext[h][j]);
			  }
			}
		}
	}
} ());





</script>


</body>
</html>
