<!DOCTYPE html>
<html lang="en">
<head>
  <title>Beautiful Timetables</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">



    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.css' rel='stylesheet' />



<script src="{{ url_for('static', filename='script.js') }}"></script>

    <style>
    body { margin:0; padding:0; }
    .map { position:relative; width:400px; height:300px; }
    </style>
<script>


        mapboxgl.accessToken = 'pk.eyJ1IjoiZ2FieWFudG92YSIsImEiOiJjaXlhNXRsOW8wMDIyMzNxcDdxdTk3dGcwIn0.gNNtUvGPe9zNblVthu__Yg';

        $(document).ready(function(){


            $('.modal').on('shown.bs.modal', function() {

              //map.invalidateSize();
              //map.resize();
            });


        });

        $(window).on("scroll touchmove", function () {
         $('#header').toggleClass('collapse', $(document).scrollTop() > 0);
        });


</script>


</head>
<body>





<!--

COURSE_DICT:

{
u'STN': {
             'course': u'Social and Technological Networks',
             'credits': u'10',
             'course_url': 'http://course.inf.ed.ac.uk/stn',
             'year': u'4'
        }
}

CONTENT_DICT:

{
u'Fri': [
            [
                {
                    'course_acr': u'DS',
                    'course_details': u' Teviot LT, MEDS',
                    'course_year': u'4'
                },
                {
                    'course_acr': u'CT',
                    'course_details': u' Meadows LT, MEDS',
                    'course_year': u'3'
                }
             ],

             [
                {
                    'course_acr': u'MLPR',
                    'course_details': u' LHB, DHT',
                    'course_year': u'4'
                }
             ],

             [
             ]
         ]
}




//-->

<div role="tabpanel">


<div id="header">
	<img id="logo" src="https://upload.wikimedia.org/wikipedia/en/c/ca/University_of_Edinburgh_School_of_Informatics_logo.jpg">
	<h2>Lecture Timetable 2016-2017</h2>

    <table id="header-table" class="table table-hover">
    <thead>
    <tr>
        <th></th>
        {% for time in TIMES_LIST %}
        <th>{{ time }}</th>
        {% endfor %}
    </tr>
    </thead>
    </table>
</div>





<div class="container">

<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="basics">
   {{UOE_VENUE_DATA}}

      <!--<div id='map-one' class='map'> </div>-->
      <!--<div id='map-one' class='map'> </div>-->
  </div>


<table class="table">
    <tbody>

      {% for day in WEEKDAYS %}
        <tr>
          <td>{{day}}</td>


          {% for hourSlot in CONTENT_DICT[day[0:3]] %}
              <div>
              <td>
              {% for courseDict in hourSlot %}
              <div class="well well-sm pointer" data-toggle="modal" data-target="#{{  courseDict['course_acr'] + '-' + day  }}-modal">
                      <p><b>{{  courseDict["course_acr"]  }}</b></p>
                  {% if courseDict["course_acr"] in COURSE_DICT %}
                      <p>{{ (COURSE_DICT[courseDict["course_acr"]])['course'] }}</p>
                      <p>Year: {{ courseDict["course_year"] }}</p>
                      <p>{{ matchVenue(courseDict["course_details"])  }}</p>

                  {% endif %}
              </div>


        <!-- Modal -->

		<div class="modal fade" id="{{  courseDict['course_acr'] + '-' + day  }}-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

        <script>
        $('#{{  courseDict["course_acr"] + "-" + day  }}-modal').on('shown.bs.modal', function() {
        //$(document).ready(function(){

            //$.getJSON("https://api.mapbox.com/geocoding/v5/mapbox.places/{{  addressToUrl(matchVenue(courseDict["course_details"]))  }}edinburgh%20uk.json?access_token=pk.eyJ1IjoiZ2FieWFudG92YSIsImEiOiJjaXlhNXRsOW8wMDIyMzNxcDdxdTk3dGcwIn0.gNNtUvGPe9zNblVthu__Yg", function(json) {
               //alert("JSON Data: {{addressToUrl(matchVenue(courseDict["course_details"]))}} " );
                //$('.test').html("JSON Data: " + JSON.stringify(json.features.center[0]))
                var {{  courseDict["course_acr"] + day  }}Map = new mapboxgl.Map({
                    container: '{{  courseDict["course_acr"] + "-" + day  }}-map',
                    style: 'mapbox://styles/mapbox/streets-v9',
                    zoom: 16,
                    center: [
                            {{  marchNameInJsonToLongLat(UOE_VENUE_DATA, mostSimilar(UOE_VENUE_DATA, matchVenue(courseDict["course_details"])))[0] }},
                            {{  marchNameInJsonToLongLat(UOE_VENUE_DATA, mostSimilar(UOE_VENUE_DATA, matchVenue(courseDict["course_details"])))[1] }}
                            ]

                            //[JSON.stringify(json.features[0].center[0]), JSON.stringify(json.features[0].center[1])]
                });
               // L.marker([JSON.stringify(json.features[0].center[0]), JSON.stringify(json.features[0].center[1])]).addTo({{  courseDict["course_acr"] + day  }}Map);

            });

       //});

        </script>

		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		        <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">{% if courseDict["course_acr"] in COURSE_DICT %}

                      <p class="test"></p>
                        <p></p>
                      <p>{{ (COURSE_DICT[courseDict["course_acr"]])['course']  }}</p>
                      <p>CREDITS: {{   COURSE_DICT[courseDict["course_acr"]]['credits']   }}</p>
                      <p>YEAR: {{   COURSE_DICT[courseDict["course_acr"]]['year']   }}</p>
                      <p>ADDRESS: {{  mostSimilar(UOE_VENUE_DATA, matchVenue(courseDict["course_details"]))  }} </p>
                      <div id="{{  courseDict['course_acr'] + '-' + day  }}-map" class='map'> </div>
                  {% endif %}</h4>
                </div>


                <div class="modal-body">

			    <a target="_blank" href="
                        {% if courseAcr in COURSE_DICT %}
                            {{(COURSE_DICT[courseAcr])['course_url']}}
                        {% endif %}
                        "><span class="glyphicon glyphicon-home"></span></a>

		        </div>
		        <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
		        </div>
		    </div>
		  </div>
		</div>




              {% endfor %}
              </td>
          {% endfor %}
        </tr>
      {% endfor %}



</div>
</body>
</html>
